.card-container {
   
    /* background: red; */
    position: relative;
    overflow: hidden;
    width: 310px;
    height: 450px;
    transition: .3s ease;
}

.img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.details-btn-container {
    position: absolute;
    bottom: -1%;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie-card {
    position: relative;
}

.movie-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
}

.movie-name {
    position: absolute;
    bottom: -177%;
    left: 5%;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: bolder;
    transition: .3s ease;
    
}

.details-btn {
    background: linear-gradient(to right, #bb511e, #f1bc00);
    color: #fff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 6px 13px;
    font-weight: bold;
    text-transform: uppercase;
  font-size: 14px;
  border: 0;
}

.disable-btn{
    cursor:not-allowed;
}
.cursor-point{
    cursor: pointer;
}
.time {
    position: absolute;
    top: 8px;
    left: -100px;
    padding: 8px 10px;
    color: #fff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: linear-gradient(to right, #bb511e, #f1bc00);
    transition: .3s ease;
}

.hover-card:hover .time {
    left: 0;
}

.hover-card:hover .movie-name {
    bottom: -77%;
}
.inactive-card{
    opacity: 0.5;
    transform: scale(0.9);
}
.active-card{
    transform: scale(1);
}

